# 1. Write a python program to display all the header tags from wikipedia.org.

In [16]:
# importing necessary libraries
import requests
from bs4 import BeautifulSoup

In [19]:
# defining a function to display all header tags of wiki

def wiki(page):
    link = requests.get(page)
    print(link)
    bs = BeautifulSoup(link.content)
    result= bs.find_all(["h1","h2","h3","h4"])
    print(result)

In [20]:
# asking url as parameter from user
# the link is https://en.wikipedia.org/wiki/Main_Page
a = input("enter the webpage: ")
# calling the wiki function
wiki(a)

enter the webpage: https://en.wikipedia.org/wiki/Main_Page
<Response [200]>
[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>, <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3>
<label for="searchInput">Search</label>
</h3>]

# 2 . Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [27]:
# importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [28]:
# defining a function to display IMBD top rated 100 movies

def imdb(url):
    
    page = requests.get(url)
    print(page)

    bs = BeautifulSoup(page.content)

    name = []
    for i in bs.find_all("h3",class_="lister-item-header"):
        name.append(i.text.split("\n")[2])
        
        
        
    year = []
    for i in bs.find_all("span",class_="lister-item-year text-muted unbold"):
        year.append(i.text.replace("(","").replace(")","").replace("I",""))
        
        
    rating=[]
    for i in bs.find_all("div",class_="ratings-bar"):
        rating.append(i.text.split("\n")[3])
        
        
    output= pd.DataFrame({"Movie Name":name,"Year of Release":year,"Rating":rating})
    return output

In [29]:
# getting input
# the link is https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100

url = input("Enter the IMDB URL: ")
a = imdb(url)

# printing the output
print(a)

Enter the IMDB URL: https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100
<Response [200]>
                                       Movie Name Year of Release Rating
0                        The Shawshank Redemption            1994    9.3
1                                   The Godfather            1972    9.2
2                                 The Dark Knight            2008    9.1
3   The Lord of the Rings: The Return of the King            2003    9.0
4                                Schindler's List            1993    9.0
..                                            ...             ...    ...
95                             North by Northwest            1959    8.3
96                                        Vertigo            1958    8.3
97                            Singin' in the Rain            1952    8.3
98                                   Citizen Kane            1941    8.3
99              M - Eine Stadt sucht einen Mörder            1931    8.3

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [30]:
# importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [31]:
# defining a function to display IMBD top rated 100 Indian movies

def imdb(url):
    
    page = requests.get(url)
    print(page)

    bs = BeautifulSoup(page.content)

    name = []
    for i in bs.find_all("h3",class_="lister-item-header"):
        name.append(i.text.split("\n")[2])
        
        
        
    year = []
    for i in bs.find_all("span",class_="lister-item-year text-muted unbold"):
        year.append(i.text.replace("(","").replace(")","").replace("I",""))
        
        
    rating=[]
    for i in bs.find_all("div",class_="ipl-rating-star small"):
        rating.append(i.text.replace("\n",""))
        
        
    output= pd.DataFrame({"Movie Name":name,"Year of Release":year,"Rating":rating})
    return output

In [32]:
# getting input
# the link is https://www.imdb.com/list/ls056092300/

url = input("Enter the IMDB URL: ")
a = imdb(url)

# printing the output
print(a)

Enter the IMDB URL: https://www.imdb.com/list/ls056092300/
<Response [200]>
                           Movie Name Year of Release Rating
0                     Ship of Theseus            2012      8
1                              Iruvar            1997    8.5
2                     Kaagaz Ke Phool            1959    7.8
3   Lagaan: Once Upon a Time in India            2001    8.1
4                     Pather Panchali            1955    8.3
..                                ...             ...    ...
95                        Apur Sansar            1959    8.5
96                        Kanchivaram            2008    8.1
97                    Monsoon Wedding            2001    7.3
98                              Black            2005    8.2
99                            Deewaar            1975      8

[100 rows x 3 columns]

# 4. Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .

In [36]:
# importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [37]:
def meesho(url):
    p = requests.get(url)
    bs = BeautifulSoup(p.content)
    
    
    name=[]
    for i in bs.find_all("p",class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
        name.append(i.text)
        
        
    original_price=[]
    for i in bs.find_all("p",class_="Text__StyledText-sc-oo0kvp-0 hgHnkG Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 coIjqc Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 coIjqc"):
        original_price.append(i.text.replace("₹",""))
        
    discount_per = []
    for i in bs.find_all("span",class_="Text__StyledText-sc-oo0kvp-0 cZvGTZ"):
        discount_per.append(i.text.replace("off",""))
        
        
    final_price=[] 
    for i in bs.find_all("h5",class_="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
        final_price.append(i.text.replace("₹",""))
        
        
        
    output = pd.DataFrame({"Product Name":name,
                           "Original Price":original_price,"Discount Percentage":discount_per,
                           "Final Price after Discount":final_price})  
    return output

In [38]:
# getting input
# the link is https://meesho.com/bags-ladies/pl/p7vbp

url = input("Enter the Meesho url: ")
a = meesho(url)

# printing the output
print(a)

Enter the Meesho url: https://meesho.com/bags-ladies/pl/p7vbp
                                         Product Name Original Price  \
0                     Graceful Stylish Women Handbags            484
1                        Classic Fancy Women Handbags            349
2                      Classic Stylish Women Handbags            384
3                   Elegant Attractive Women Handbags            436
4                  Voguish Fashionable Women Handbags            396
5                    Ravishing Stylish Women Handbags            470
6                      Elegant Stylish Women Handbags            484
7                     Voguish Alluring Women Handbags            684
8                     Classic Alluring Women Handbags            284
9                        Elite Stylish Women Handbags            479
10                     Graceful Classy Women Handbags            422
11                      Voguish Classy Women Handbags            404
12                 Classic Fashionable Women Handbags            107
13                  Trendy Fashionable Women Handbags            484
14                  Elegant Attractive Women Handbags            474
15                     Classic Stylish Women Handbags            433
16                       Elite Stylish Women Handbags            499
17                    Trendy Versatile Women Handbags             85
18  Ameyson Attractive Women Jute Printed Lunch Ti...            206
19                  Ravishing Alluring Women Handbags            815

   Discount Percentage Final Price after Discount
0                 21%                         384
1                 29%                         249
2                 26%                         284
3                 23%                         336
4                 25%                         296
5                 21%                         370
6                 21%                         384
7                 15%                         584
8                 30%                         199
9                 21%                         379
10                24%                         322
11                25%                         304
12                30%                          75
13                21%                         384
14                21%                         374
15                23%                         333
16                20%                         399
17                29%                          60
18                30%                         145
19                12%                         715

# 5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [5]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [6]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text.strip().split()[0])
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data
        
# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [7]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/mens/team-rankings/odi
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/mens/team-rankings/odi
  Pos            Team Matches Points Rating
0   1   New ZealandNZ      18  2,185    121
1   2      EnglandENG      32  3,793    119
2   3    AustraliaAUS      29  3,387    117
3   4        IndiaIND      38  4,162    110
4   5  South AfricaSA      31  3,167    102
5   6   BangladeshBAN      36  3,350     93
6   7     PakistanPAK      28  2,590     93
7   8     Sri LankaSL      35  2,835     81
8   9   West IndiesWI      36  2,788     77
9  10  AfghanistanAFG      23  1,562     68

# b) Top 10 ODI Batsmen along with the records of their team and rating..

In [8]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [9]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table rankings-table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text)
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data

# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [10]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
                                                 Pos                 Player  \
0                       1                        (0)             Babar Azam
1               2                                (0)            Virat Kohli
2               3                                (0)            Ross Taylor
3               4                                (0)           Rohit Sharma
4               5                                (0)        Quinton de Kock
5  6                                (1)This playe...         Jonny Bairstow
6  7                                (1)This playe...            Aaron Finch
7               8                                (0)  Rassie van der Dussen
8               9                                (0)           David Warner
9  10                                (2)This play...            Imam-ul-Haq

  Team Rating              Career Best Rating
0  PAK    872       873 v England, 13/07/2021
1  IND    811       911 v England, 12/07/2018
2   NZ    794    841 v Bangladesh, 05/06/2019
3  IND    791     885 v Sri Lanka, 06/07/2019
4   SA    789     813 v Sri Lanka, 10/03/2019
5  ENG    775         796 v India, 26/03/2021
6  AUS    771       798 v England, 25/06/2019
7   SA    769    776 v Bangladesh, 20/03/2022
8  AUS    758      880 v Pakistan, 26/01/2017
9  PAK    746  768 v South Africa, 02/04/2021

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [14]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [15]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table rankings-table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text)
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data
        
# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [16]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
                                                 Pos            Player Team  \
0                       1                        (0)       Trent Boult   NZ
1               2                                (0)    Josh Hazlewood  AUS
2               3                                (0)      Chris Woakes  ENG
3               4                                (0)        Matt Henry   NZ
4               5                                (0)  Mujeeb Ur Rahman  AFG
5               6                                (0)    Jasprit Bumrah  IND
6               7                                (0)      Mehedi Hasan  BAN
7               8                                (0)   Shakib Al Hasan  BAN
8  9                                (6)This playe...        Adam Zampa  AUS
9              10                                (0)       Rashid Khan  AFG

  Rating             Career Best Rating
0    733  770 v West Indies, 22/06/2019
1    705      733 v England, 26/01/2018
2    700    711 v Sri Lanka, 04/07/2021
3    687   691 v Bangladesh, 26/03/2021
4    681      712 v Ireland, 24/01/2021
5    679  841 v West Indies, 01/11/2018
6    661    725 v Sri Lanka, 25/05/2021
7    657     717 v Zimbabwe, 05/11/2009
8    650     650 v Pakistan, 29/03/2022
9    650     806 v Pakistan, 21/09/2018

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [17]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [18]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text.strip().split()[0])
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data  
 
    
# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [19]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/womens/team-rankings/odi
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/womens/team-rankings/odi
  Pos            Team Matches Points Rating
0   1    AustraliaAUS      28  4,663    167
1   2  South AfricaSA      28  3,504    125
2   3      EnglandENG      29  3,425    118
3   4        IndiaIND      29  2,890    100
4   5   New ZealandNZ      31  3,018     97
5   6   West IndiesWI      28  2,478     89
6   7   BangladeshBAN      12    935     78
7   8     PakistanPAK      26  1,753     67
8   9      IrelandIRE       5    240     48
9  10     Sri LankaSL       5    233     47

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [21]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [22]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table rankings-table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text)
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data
        
        
# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [23]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
                                                 Pos             Player Team  \
0  1                        (1)This player has mo...    Laura Wolvaardt   SA
1  2                                (1)This playe...        Beth Mooney  AUS
2               3                                (0)        Meg Lanning  AUS
3               4                                (0)     Natalie Sciver  ENG
4               5                                (0)       Alyssa Healy  AUS
5  6                                (3)This playe...        Mithali Raj  IND
6               7                                (0)     Rachael Haynes  AUS
7  8                                (2)This playe...     Tammy Beaumont  ENG
8  9                                (1)This playe...  Amy Satterthwaite   NZ
9              10                                (0)    Smriti Mandhana  IND

  Rating             Career Best Rating
0    740    741 v Australia, 22/03/2022
1    726      734 v England, 03/02/2022
2    718  834 v New Zealand, 24/02/2016
3    705        712 v India, 25/02/2019
4    703        776 v India, 21/09/2021
5    686    839 v Australia, 24/12/2004
6    684  713 v West Indies, 15/03/2022
7    682        791 v India, 27/06/2021
8    681    756 v Australia, 02/03/2017
9    669      797 v England, 28/02/2019

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [24]:
# importing required libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [25]:
# defining the function
def icc(url):
    page = requests.get(url)
    bs = BeautifulSoup(page.content)
    table = bs.find("table",class_="table rankings-table")
# getting the table header names
    header=[]
    for h in table.find_all("th"):
        header.append(h.text)
        
# assigning the table header names to empty data frame        
        
    df = pd.DataFrame(columns=header)    
        
        
    for r in table.find_all("tr")[1:]:
        data = r.find_all("td")
        row_data = [d.text.strip().replace("\n","") for d in data]
        le = len(df)
        df.loc[le] = row_data
        
            
# getting the first 10 data in another data frame  

    df1 = df.head(10)
        
    return df1

In [26]:
# getting input from user
# the link is https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder
url = input("enter the icc url: ")
# calling the function
a = icc(url)
# printing the data frame output
print(a)

enter the icc url: https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder
                                                 Pos            Player Team  \
0                       1                        (0)      Ellyse Perry  AUS
1               2                                (0)    Natalie Sciver  ENG
2               3                                (0)    Marizanne Kapp   SA
3               4                                (0)   Hayley Matthews   WI
4               5                                (0)       Amelia Kerr   NZ
5               6                                (0)  Ashleigh Gardner  AUS
6               7                                (0)     Deepti Sharma  IND
7               8                                (0)     Jess Jonassen  AUS
8  9                                (1)This playe...   Katherine Brunt  ENG
9  10                                (1)This play...    Jhulan Goswami  IND

  Rating              Career Best Rating
0    404   548 v West Indies, 11/09/2019
1    376   391 v New Zealand, 16/09/2021
2    359   419 v West Indies, 10/09/2021
3    340         365 v India, 12/03/2022
4    335  339 v South Africa, 17/03/2022
5    278    278 v Bangladesh, 25/03/2022
6    249  397 v South Africa, 09/10/2019
7    246   308 v West Indies, 11/09/2019
8    239     296 v Australia, 03/02/2022
9    217     308 v Australia, 02/02/2016

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
 # and the code for the video from the link for the youtube video from the post.

In [28]:
# importing required libraries
import pandas as pd
from requests import get as gt
from bs4 import BeautifulSoup as bs

In [29]:
# scrapping heading
heading=[]
time=[]
content=[]
link=[]

def coreyms(url):
    
    p = gt(url)
    b = bs(p.content)
    for h in b.find_all("a",class_="entry-title-link"):
        heading.append(h.text)
        
    for h in b.find_all("time",class_="entry-time"):
        time.append(h.text)  
        
        
    for h in b.find_all("div",class_="entry-content"):
        content.append(h.text.replace("\n","")) 
        
        
    for h in b.find_all("iframe",class_="youtube-player"):
        link.append(h["src"])    
    
    
    heading.pop(4)
    time.pop(4)
    content.pop(4)
    
    df = pd.DataFrame({"Heading":heading,"Time":time,"Content":content,"Link":link})
    
    df.to_csv("coreyms.csv")
    
    return df

In [30]:
# getting input from user
# the link is https://coreyms.com/

url = input("enter coreyms url: ")

# calling the function
a = coreyms(url)

# printing output
print(a)

enter coreyms url: https://coreyms.com/
                                             Heading                Time  \
0  Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
1  Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
2  Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
3  Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
4  Python Quick Tip: The Difference Between “==” ...      August 6, 2019
5  Python Tutorial: Calling External Commands Usi...       July 24, 2019
6  Visual Studio Code (Windows) – Setting up a Py...         May 1, 2019
7  Visual Studio Code (Mac) – Setting up a Python...         May 1, 2019
8  Clarifying the Issues with Mutable Default Arg...      April 24, 2019

                                             Content  \
0  In this video, we will be learning how to crea...
1  In this Python Programming video, we will be l...
2  In this Python Programming video, we will be l...
3  In this Python Programming video, we will be l...
4  In this Python Programming Tutorial, we will b...
5  In this Python Programming Tutorial, we will b...
6  In this Python Programming Tutorial, we will b...
7  In this Python Programming Tutorial, we will b...
8  In this Python Programming Tutorial, we will b...

                                                Link
0  https://www.youtube.com/embed/z0gguhEmWiY?vers...
1  https://www.youtube.com/embed/_P7X8tMplsw?vers...
2  https://www.youtube.com/embed/fKl2JW_qrso?vers...
3  https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4  https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5  https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6  https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7  https://www.youtube.com/embed/06I63_p-2A4?vers...
8  https://www.youtube.com/embed/_JGmemuINww?vers...

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [31]:
# importing required libraries
import pandas as pd
from requests import get as gt
from bs4 import BeautifulSoup as bs

In [32]:
def nobroker(url):
    
    
    house_title = []
    location=[]
    area=[]
    emi=[]
    price=[]
    
    p = gt(url)
    b = bs(p.content)


    for i in b.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
        house_title.append(i.text)
     
    for i in b.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
        location.append(i.text)
    

    for i in b.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
        area.append(i.text.split("₹")[1].replace("sqftBuiltup",""))
    
    
    for i in b.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
        emi.append(i.text.split("₹")[2].replace("/MonthEstimated EMI",""))  
    
    
    
    for i in b.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
        price.append(i.text.split("₹")[3])  
    
    
    df = pd.DataFrame({"Name of House":house_title,"Location":location,"Area":area,"EMI":emi,"Price":price})
    
    
    return df

In [33]:
# getting input from user
# the link is https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d
url = input("enter the no broker url: ")

# calling the function
a = nobroker(url)

# printing the output
print(a)

enter the no broker url: https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d
                                       Name of House  \
0  2 BHK Apartment  For Sale  In Tarang Parkway A...
1  2 BHK Flat  For Sale  In Kumar Ashraya Apartme...
2  4+ BHK In Independent House  For Sale  In Raja...
3  4+ BHK In Independent House  For Sale  In Jaya...
4  2 BHK Apartment  For Sale  In Blueberry Apartm...

                                            Location     Area        EMI  \
0  Tarang Parkway Apartment  2nd Main Rd, Shivana...   1,200      57,314
1   Kumar Ashraya Apartments 194, 9th Cross Rd 2n...     900      37,827
2  Independent House,  6th Cross road,9th main ro...   1,320      63,045
3  Independent House, TMC Layout behind rajalaxmi...   2,800   2.21 Lacs
4  Blueberry Apartment  13th E Main Rd, Channakes...   1,074      87,691

         Price
0      1 Crore
1      66 Lacs
2   1.1 Crores
3  3.85 Crores
4  1.53 Crores

# 9) Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

In [34]:
# importing required libraries
import pandas as pd
from requests import get as gt
from bs4 import BeautifulSoup as bs

In [35]:
def dine(url):
    name=[]
    cuisine=[]
    location=[]
    rating=[]
    link=[]
    p = gt(url)
    b = bs(p.content)
    
    for i in b.find_all('a',class_="restnt-name ellipsis"):
        name.append(i.text)
        
        
    for i in b.find_all('span',class_="double-line-ellipsis"):
        cuisine.append(i.text.split("|")[1])
        
        
        
        
    for i in b.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)
        
        
    for i in b.find_all('div',class_="restnt-rating rating-4"):
        rating.append(i.text)
        
        
    for i in b.find_all('img',class_="no-img"):
        link.append(i["data-src"])
        
        
        
    df = pd.DataFrame({"Name":name,"Cuisine":cuisine,"Location":location,"Rating":rating,"Url":link}) 
    
    
    return df

In [36]:
# getting input from user
# the link is https://www.dineout.co.in/delhi-restaurants/buffet-special

url = input("Enter Dineout link : ")

# calling the function

a = dine(url)

# printing the output
print(a)

Enter Dineout link : https://www.dineout.co.in/delhi-restaurants/buffet-special
                                Name  \
0                    Castle Barbeque
1                    Jungle Jamboree
2                    Castle Barbeque
3                         Cafe Knosh
4               The Barbeque Company
5                        India Grill
6                     Delhi Barbeque
7   The Monarch - Bar Be Que Village
8                         World Cafe
9                  Indian Grill Room
10                   Mad 4 Bar B Que
11                       Barbeque 29
12                        Glasshouse

                                        Cuisine  \
0                         North Indian, Chinese
1                  North Indian, Asian, Italian
2                         Chinese, North Indian
3                          Italian, Continental
4                         North Indian, Chinese
5                         North Indian, Italian
6                                  North Indian
7                         North Indian, Chinese
8            North Indian, Chinese, Continental
9                         North Indian, Mughlai
10                                 North Indian
11   North Indian, Mughlai, Desserts, Beverages
12        European, Italian, Asian, Continental

                                             Location Rating  \
0                      Connaught Place, Central Delhi    3.5
1              3CS Mall,Lajpat Nagar - 3, South Delhi    3.9
2              Pacific Mall,Tagore Garden, West Delhi    3.9
3   The Leela Ambience Convention Hotel,Shahdara, ...    4.3
4                  Gardens Galleria,Sector 38A, Noida      4
5                Hilton Garden Inn,Saket, South Delhi    3.9
6      Taurus Sarovar Portico,Mahipalpur, South Delhi    3.7
7   Indirapuram Habitat Centre,Indirapuram, Ghaziabad    3.9
8    Vibe by The Lalit Traveller,Sector 35, Faridabad    4.2
9    Suncity Business Tower,Golf Course Road, Gurgaon    4.3
10                               Sector 29, Faridabad    3.6
11                                     NIT, Faridabad    4.2
12  DoubleTree By Hilton Gurugram Baani Square,Sec...      4

                                                  Url
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...

# 10.Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [37]:
# importing required libraries
import pandas as pd
from requests import get as gt
from bs4 import BeautifulSoup as bs

In [38]:
# defining a function
def bewak(li):
    p = gt(li)
    b = bs(p.content)
    name = []
    price = []
    url = []
    nc = 0
    pc = 0
    uc=0
    
    for i in b.find_all('div',class_="productCardDetail"):
        if nc == 10:
            break
        name.append(i.text.split("₹")[0])
        nc +=1
        
        
    for i in b.find_all('span',class_="discountedPriceText"):
        if pc ==10:
            break
        price.append(i.text.replace("₹",""))
        pc +=1
    
    
    
    for i in b.find_all('img',class_="productImgTag"):
        if uc ==10:
            break
        url.append(i["src"])
        uc +=1
        
        
        
    df = pd.DataFrame({"Product Name":name,"Price":price,"Link":url})
    
    
    return df

In [39]:
# getting input from user
# the link is https://www.bewakoof.com/women-clothing/category-top--category-t-shirt
li = input("enter the bewakoof link: ")
# calling the function
a = bewak(li)
# printing output
print(a)

enter the bewakoof link: https://www.bewakoof.com/women-clothing/category-top--category-t-shirt
                                        Product Name Price  \
0         White Stripes Side Panel Boyfriend T-shirt   349
1         Brush Stroke Whatever 3/4th Sleeve T-Shirt   249
2  Busy Doin Nothing Half Sleeve T-Shirt (DL)-Bab...   299
3       Wave Reflect Round Neck 3/4th Sleeve T-Shirt   249
4    Mulan Face Round Neck 3/4th Sleeve T-Shirt (DL)   249
5  Absolutely Awesome Bunny Round Neck 3/4th Slee...   249
6  Food Before Dudes Half Sleeve T-Shirt (DL) Bol...   249
7                   Pineapple 3/4 Sleeve AOP T-Shirt   299
8  Women's Round Neck 3/4 Sleeve Combo T-Shirts P...   299
9          Women's Black & White Striped Blouson Top   499

                                                Link
0  https://images.bewakoof.com/t320/white-stripes...
1  https://images.bewakoof.com/t320/brush-stroke-...
2  https://images.bewakoof.com/t320/busy-doin-not...
3  https://images.bewakoof.com/t320/wave-reflect-...
4  https://images.bewakoof.com/t320/mulan-face-ro...
5  https://images.bewakoof.com/t320/absolutely-aw...
6  https://images.bewakoof.com/t320/food-before-d...
7  https://images.bewakoof.com/t320/pineapple-3-4...
8  https://images.bewakoof.com/t320/women-s-round...
9  https://images.bewakoof.com/t320/style-quotien...